In [1]:
import math
import random
import pandas as pd
import numpy as np

from mesa import Agent
from mesa import Model
from mesa.datacollection import DataCollector
from mesa.space import Grid
from mesa.time import RandomActivation

In [326]:
def create_tx(from_address, nonce, start, end, gas_price, num_bytes):
    
    tx = {}
        
    tx['nonce'] = nonce
    tx['from_address'] = from_address # << Sensor ID
    tx['start_sync'] = start
    tx['end_sync'] = end
    tx['gas_price'] = gas_price
    # self.gas_limit = gas_limit # << unused parameter
    tx['num_bytes'] = num_bytes

    return tx

In [386]:
class Sensor(Agent):
    
    def __init__(self, unique_id, battery_life, 
                record_cost, record_freq, record_bytes, 
                compute_cost_per_byte, info_reduction,
                sign_cost,
                transmit_cost_per_byte, transmit_freq,
                gas_price, blockchain, 
                model):
        
        super().__init__(unique_id, model)
        
        if self.model.verbose:
            print('Creating Sensor agent ID', unique_id)
           
#         self.unique_id = unique_id
        self.battery_life = battery_life
        self.dead = False
        self.record_cost = record_cost
        self.record_freq = record_freq
        self.record_bytes = record_bytes
        self.compute_cost_per_byte = compute_cost_per_byte
        self.info_reduction = info_reduction
        self.sign_cost = sign_cost
        self.transmit_cost_per_byte = transmit_cost_per_byte
        self.transmit_freq = transmit_freq
        self.gas_price = gas_price
        self.blockchain = blockchain
        
        self.gwei_spent = 0
        self.data_collected = 0
        self.last_sync = 0
        self.nonce = 0
        self.db = np.array([]) # << bytes recorded per tick
        
        self.blockchain.chain.loc[0, self.unique_id] = False

    
    def record(self):

        if self.model.schedule.steps % self.record_freq == 0:
            
            self.battery_life -= self.record_cost
            self.db = np.append(self.db, self.record_bytes)
            
        else:
            self.db = np.append(self.db, 0)

    
    def compute(self, num_bytes):
        
        # Only invoked from within the transmit() method
        
        if self.info_reduction is not 1:
            self.battery_life -= self.compute_cost_per_byte * num_bytes
            return math.ceil(self.info_reduction * num_bytes)
        else:
            return num_bytes
            # with no compute cost
    
    def sign(self):
        
        # Only invoked from within the transmit() method
        self.battery_life -= self.sign_cost
    
    def next_nonce(self):
        self.nonce += 1
        return self.nonce
    
    def transmit(self):
        # Prepare data for transmission:
        
        # Calculate number of bytes to transmit (result of edge computation)
        bytes_collected = np.sum(self.db[self.last_sync : ])
        num_bytes_to_transmit = self.compute(bytes_collected)
        
        tx = create_tx(self.unique_id, self.next_nonce(), 
                       self.last_sync, self.model.schedule.steps, 
                       self.gas_price, num_bytes_to_transmit)
        
        # Prepare and sign tx
        self.sign()
        
        # Transmit, subtracting energy cost and adding gwei cost
        self.battery_life -= self.transmit_cost_per_byte * num_bytes_to_transmit
        self.blockchain.add_to_mempool(tx)
        
        self.last_sync = self.model.schedule.steps
    
    def confirm_tx(self, tx):
        
        self.gwei_spent += tx.gas_spend
        

    def step(self):
        
        if not self.dead:
            
            if self.battery_life < 0 and self.battery_life is not -999:
                if self.model.verbose:
                    print("Sensor", self.unique_id, "out of battery at tick", self.model.schedule.steps)
                self.dead = True
                pass

            self.record()    

            if self.transmit_freq >= 1:
                if self.model.schedule.steps % self.transmit_freq == 0:
                    print("TRansmitting", self.model.schedule.steps,'%', self.transmit_freq, "==", self.model.schedule.steps % self.transmit_freq)
                    self.transmit()
            elif self.transmit_freq > random.random():
                self.transmit()

In [385]:
class Blockchain(Agent):
    
    def __init__(self, unique_id, gas_price, block_gas_limit,
                gas_per_byte, gas_per_second, model):
        
        super().__init__(unique_id, model)
        
        if self.model.verbose:
            print("Blockchain created: ID", unique_id)
        
#         self.unique_id = unique_id
        self.gas_price = gas_price
        self.block_gas_limit = block_gas_limit
        self.gas_per_byte = gas_per_byte
        self.gas_per_second = gas_per_second
        self.chain = pd.DataFrame()
        
        self.tx_ct = 0
        self.mempool = pd.DataFrame(columns=["from_address", "nonce", 
                                             "start_sync", "end_sync", 
                                             "gas_price", "num_bytes", 
                                             "gas_spend", "tx_id",
                                             "mined", "block_submitted"])

    def add_to_mempool(self, tx):
        tx['gas_spend'] = tx['gas_price'] * self.gas_per_byte * tx['num_bytes']

        tx['tx_id'] = self.tx_ct
        tx['mined'] = False
        tx['block_submitted'] = self.model.schedule.steps
        row = pd.DataFrame(tx, index = [self.tx_ct])
        
        self.tx_ct += 1
        self.mempool = self.mempool.append(row, ignore_index=True)
    
    def write_data(self, num_bytes):

        gwei_spent = self.gas_per_byte * num_bytes * self.gas_price
        return gwei_spent

    def mine_block(self):
        
        print("BLOCK NUMBER:", self.model.schedule.steps)
        self.chain.loc[self.model.schedule.steps] = [False for col in self.chain.columns]

        # Sort mempool to get highest-value transactions
        mp = self.mempool[self.mempool['mined'] == False].sort_values(by=['gas_spend']).reset_index()
        
        if len(mp) > 0:
            
            mp['cum_gas'] = mp['gas_spend'].cumsum()     
            if mp['cum_gas'].max() > self.block_gas_limit:
                # If we cannot include all transactions in a block, fit as many as possible ...
                tx_mined = mp[0 : mp[mp['cum_gas'] > self.block_gas_limit].index[0]]
            else:
                tx_mined = mp[0 : ]
                
#             print('Tx to mine:', tx_mined)
            print("Mining", len(tx_mined), "out of", len(mp), "unvalidated transactions.")
            print("Gas value:", tx_mined['gas_spend'].sum())
            
            for tx in tx_mined.iterrows():
                
                print("Mining tx id:", tx[1].tx_id)
                self.model.schedule._agents[tx[1].from_address].confirm_tx(tx[1])
                self.mempool.loc[self.mempool['tx_id'] == tx[1].tx_id, "mined"] = True
                self.mempool.loc[self.mempool['tx_id'] == tx[1].tx_id, "block_mined"] = self.model.schedule.steps
                
                self.chain.loc[tx[1].start_sync : tx[1].end_sync, tx[1].from_address] = True
                
        else:
            print('Empty mempool')
            pass
        
    
    # Not used:
    def compute(self, num_seconds):
        gwei_spent = self.gas_per_second * num_seconds * self.gas_price
        return gwei_spent

In [387]:
class SensorBlockchainNetwork(Model):
    
    def __init__(self, num_sensors,
                verbose=True):
        
        super().__init__()
        
        self.verbose = verbose
        if self.verbose:
            print('Verbose model')
        
        self.running = True
        self.schedule = RandomActivation(self)
        self.datacollector = DataCollector(
                                model_reporters = {
                                    "active_sensors": lambda m: len(m.schedule._agents),
                                    # chain size
                                    # information availability
                                    # live sensor proportion 
                                },
                                agent_reporters = {
                                    "gwei_spent": lambda a: a.gwei_spent,
                                    "battery_life": lambda a: a.battery_life,
                                    "data_collected": lambda a: a.data_collected
                                })
        
        self.blockchain = Blockchain(self.next_id(), 10, 2000000,
                                    625, 75000000, self) 
                                    # calculated based on 
                                    # https://hackernoon.com/ether-purchase-power-df40a38c5a2f
        
        for i in range(num_sensors):
            sensor = Sensor(self.next_id(), 1000, 
                            1, 3, 32,
                            1, 1, 0.1,
                            1, 7, 20,
                            self.blockchain,
                            self)
            
            self.schedule.add(sensor)
    
    
        # Mine genesis block
        self.blockchain.chain.loc[1] = [False for col in self.blockchain.chain.columns]

        if self.verbose:
            print(num_sensors, "instantiated and added to schedule.")
    
    def step(self):
        self.schedule.step()
        if self.verbose:
            print("Mining block:", self.schedule.steps)
        if self.schedule.steps > 1:
            self.blockchain.mine_block()
        self.datacollector.collect(self)

In [401]:
model = SensorBlockchainNetwork(10, False)

In [402]:
for i in range(100):
    model.step()

TRansmitting 0 % 7 == 0
TRansmitting 0 % 7 == 0
TRansmitting 0 % 7 == 0
TRansmitting 0 % 7 == 0
TRansmitting 0 % 7 == 0
TRansmitting 0 % 7 == 0
TRansmitting 0 % 7 == 0
TRansmitting 0 % 7 == 0
TRansmitting 0 % 7 == 0
TRansmitting 0 % 7 == 0
BLOCK NUMBER: 2
Tx to mine:    index block_submitted end_sync from_address gas_price  gas_spend  mined  \
0      0               0        0            4        20   400000.0  False
1      1               0        0            8        20   400000.0  False
2      2               0        0            9        20   400000.0  False
3      3               0        0           10        20   400000.0  False
4      4               0        0            6        20   400000.0  False

  nonce  num_bytes start_sync tx_id    cum_gas
0     1       32.0          0     0   400000.0
1     1       32.0          0     1   800000.0
2     1       32.0          0     2  1200000.0
3     1       32.0          0     3  1600000.0
4     1       32.0          0     4  2000000.0
Mining 5 out of 10 unvalidated transactions.
Gas value: 2000000.0
Mining tx id: 0
Mining tx id: 1
Mining tx id: 2
Mining tx id: 3
Mining tx id: 4
BLOCK NUMBER: 3
Tx to mine:    index block_submitted end_sync from_address gas_price  gas_spend  mined  \
0      5               0        0            7        20   400000.0  False
1      6               0        0            3        20   400000.0  False
2      7               0        0            5        20   400000.0  False
3      8               0        0           11        20   400000.0  False
4      9               0        0            2        20   400000.0  False

  nonce  num_bytes start_sync tx_id  block_mined    cum_gas
0     1       32.0          0     5          NaN   400000.0
1     1       32.0          0     6          NaN   800000.0
2     1       32.0          0     7          NaN  1200000.0
3     1       32.0          0     8          NaN  1600000.0
4     1       32.0          0     9          NaN  2000000.0
Mining 5 out of 5 unvalidated transactions.
Gas value: 2000000.0
Mining tx id: 5
Mining tx id: 6
Mining tx id: 7
Mining tx id: 8
Mining tx id: 9
BLOCK NUMBER: 4
Empty mempool
BLOCK NUMBER: 5
Empty mempool
BLOCK NUMBER: 6
Empty mempool
BLOCK NUMBER: 7
Empty mempool
TRansmitting 7 % 7 == 0
TRansmitting 7 % 7 == 0
TRansmitting 7 % 7 == 0
TRansmitting 7 % 7 == 0
TRansmitting 7 % 7 == 0
TRansmitting 7 % 7 == 0
TRansmitting 7 % 7 == 0
TRansmitting 7 % 7 == 0
TRansmitting 7 % 7 == 0
TRansmitting 7 % 7 == 0
BLOCK NUMBER: 8
Tx to mine:    index  block_mined block_submitted end_sync from_address gas_price  \
0     10          NaN               7        7            3        20

   gas_spend  mined nonce  num_bytes start_sync tx_id    cum_gas
0  1200000.0  False     2       96.0          0    10  1200000.0
Mining 1 out of 10 unvalidated transactions.
Gas value: 1200000.0
Mining tx id: 10
BLOCK NUMBER: 9
Tx to mine:    index  block_mined block_submitted end_sync from_address gas_price  \
0     11          NaN               7        7            7        20

   gas_spend  mined nonce  num_bytes start_sync tx_id    cum_gas
0  1200000.0  False     2       96.0          0    11  1200000.0
Mining 1 out of 9 unvalidated transactions.
Gas value: 1200000.0
Mining tx id: 11
BLOCK NUMBER: 10
Tx to mine:    index  block_mined block_submitted end_sync from_address gas_price  \
0     12          NaN               7        7            2        20

   gas_spend  mined nonce  num_bytes start_sync tx_id    cum_gas
0  1200000.0  False     2       96.0          0    12  1200000.0
Mining 1 out of 8 unvalidated transactions.
Gas value: 1200000.0
Mining tx id: 12
BLOCK NUMBER: 11
Tx to mine:    index  block_mined block_submitted end_sync from_address gas_price  \
0     13          NaN               7        7            4        20

   gas_spend  mined nonce  num_bytes start_sync tx_id    cum_gas
0  1200000.0  False     2       96.0          0    13  1200000.0
Mining 1 out of 7 unvalidated transactions.
Gas value: 1200000.0
Mining tx id: 13
BLOCK NUMBER: 12
Tx to mine:    index  block_mined block_submitted end_sync from_address gas_price  \
0     14          NaN               7        7            5        20

   gas_spend  mined nonce  num_bytes start_sync tx_id    cum_gas
0  1200000.0  False     2       96.0          0    14  1200000.0
Mining 1 out of 6 unvalidated transactions.
Gas value: 1200000.0
Mining tx id: 14
BLOCK NUMBER: 13
Tx to mine:    index  block_mined block_submitted end_sync from_address gas_price  \
0     15          NaN               7        7           11        20

   gas_spend  mined nonce  num_bytes start_sync tx_id    cum_gas
0  1200000.0  False     2       96.0          0    15  1200000.0
Mining 1 out of 5 unvalidated transactions.
Gas value: 1200000.0
Mining tx id: 15
BLOCK NUMBER: 14
Tx to mine:    index  block_mined block_submitted end_sync from_address gas_price  \
0     16          NaN               7        7           10        20

   gas_spend  mined nonce  num_bytes start_sync tx_id    cum_gas
0  1200000.0  False     2       96.0          0    16  1200000.0
Mining 1 out of 4 unvalidated transactions.
Gas value: 1200000.0
Mining tx id: 16
TRansmitting 14 % 7 == 0
TRansmitting 14 % 7 == 0
TRansmitting 14 % 7 == 0
TRansmitting 14 % 7 == 0
TRansmitting 14 % 7 == 0
TRansmitting 14 % 7 == 0
TRansmitting 14 % 7 == 0
TRansmitting 14 % 7 == 0
TRansmitting 14 % 7 == 0
TRansmitting 14 % 7 == 0
BLOCK NUMBER: 15
Tx to mine:    index  block_mined block_submitted end_sync from_address gas_price  \
0     20          NaN              14       14           11        20
1     21          NaN              14       14            5        20

   gas_spend  mined nonce  num_bytes start_sync tx_id    cum_gas
0   800000.0  False     3       64.0          7    20   800000.0
1   800000.0  False     3       64.0          7    21  1600000.0
Mining 2 out of 13 unvalidated transactions.
Gas value: 1600000.0
Mining tx id: 20
Mining tx id: 21
BLOCK NUMBER: 16
Tx to mine:    index  block_mined block_submitted end_sync from_address gas_price  \
0     22          NaN              14       14           10        20
1     23          NaN              14       14            4        20

   gas_spend  mined nonce  num_bytes start_sync tx_id    cum_gas
0   800000.0  False     3       64.0          7    22   800000.0
1   800000.0  False     3       64.0          7    23  1600000.0
Mining 2 out of 11 unvalidated transactions.
Gas value: 1600000.0
Mining tx id: 22
Mining tx id: 23
BLOCK NUMBER: 17
Tx to mine:    index  block_mined block_submitted end_sync from_address gas_price  \
0     24          NaN              14       14            3        20
1     25          NaN              14       14            7        20

   gas_spend  mined nonce  num_bytes start_sync tx_id    cum_gas
0   800000.0  False     3       64.0          7    24   800000.0
1   800000.0  False     3       64.0          7    25  1600000.0
Mining 2 out of 9 unvalidated transactions.
Gas value: 1600000.0
Mining tx id: 24
Mining tx id: 25
BLOCK NUMBER: 18
Tx to mine:    index  block_mined block_submitted end_sync from_address gas_price  \
0     26          NaN              14       14            9        20
1     27          NaN              14       14            2        20

   gas_spend  mined nonce  num_bytes start_sync tx_id    cum_gas
0   800000.0  False     3       64.0          7    26   800000.0
1   800000.0  False     3       64.0          7    27  1600000.0
Mining 2 out of 7 unvalidated transactions.
Gas value: 1600000.0
Mining tx id: 26
Mining tx id: 27
BLOCK NUMBER: 19
Tx to mine:    index  block_mined block_submitted end_sync from_address gas_price  \
0     28          NaN              14       14            8        20
1     29          NaN              14       14            6        20

   gas_spend  mined nonce  num_bytes start_sync tx_id    cum_gas
0   800000.0  False     3       64.0          7    28   800000.0
1   800000.0  False     3       64.0          7    29  1600000.0
Mining 2 out of 5 unvalidated transactions.
Gas value: 1600000.0
Mining tx id: 28
Mining tx id: 29
BLOCK NUMBER: 20
Tx to mine:    index  block_mined block_submitted end_sync from_address gas_price  \
0     17          NaN               7        7            8        20

   gas_spend  mined nonce  num_bytes start_sync tx_id    cum_gas
0  1200000.0  False     2       96.0          0    17  1200000.0
Mining 1 out of 3 unvalidated transactions.
Gas value: 1200000.0
Mining tx id: 17
BLOCK NUMBER: 21
Tx to mine:    index  block_mined block_submitted end_sync from_address gas_price  \
0     18          NaN               7        7            9        20

   gas_spend  mined nonce  num_bytes start_sync tx_id    cum_gas
0  1200000.0  False     2       96.0          0    18  1200000.0
Mining 1 out of 2 unvalidated transactions.
Gas value: 1200000.0
Mining tx id: 18
TRansmitting 21 % 7 == 0
TRansmitting 21 % 7 == 0
TRansmitting 21 % 7 == 0
TRansmitting 21 % 7 == 0
TRansmitting 21 % 7 == 0
TRansmitting 21 % 7 == 0
TRansmitting 21 % 7 == 0
TRansmitting 21 % 7 == 0
TRansmitting 21 % 7 == 0
TRansmitting 21 % 7 == 0
BLOCK NUMBER: 22
Tx to mine:    index  block_mined block_submitted end_sync from_address gas_price  \
0     19          NaN               7        7            6        20

   gas_spend  mined nonce  num_bytes start_sync tx_id    cum_gas
0  1200000.0  False     2       96.0          0    19  1200000.0
Mining 1 out of 11 unvalidated transactions.
Gas value: 1200000.0
Mining tx id: 19
BLOCK NUMBER: 23
Tx to mine:    index  block_mined block_submitted end_sync from_address gas_price  \
0     30          NaN              21       21           10        20

   gas_spend  mined nonce  num_bytes start_sync tx_id    cum_gas
0  1200000.0  False     4       96.0         14    30  1200000.0
Mining 1 out of 10 unvalidated transactions.
Gas value: 1200000.0
Mining tx id: 30
BLOCK NUMBER: 24
Tx to mine:    index  block_mined block_submitted end_sync from_address gas_price  \
0     31          NaN              21       21            7        20

   gas_spend  mined nonce  num_bytes start_sync tx_id    cum_gas
0  1200000.0  False     4       96.0         14    31  1200000.0
Mining 1 out of 9 unvalidated transactions.
Gas value: 1200000.0
Mining tx id: 31
BLOCK NUMBER: 25
Tx to mine:    index  block_mined block_submitted end_sync from_address gas_price  \
0     32          NaN              21       21            6        20

   gas_spend  mined nonce  num_bytes start_sync tx_id    cum_gas
0  1200000.0  False     4       96.0         14    32  1200000.0
Mining 1 out of 8 unvalidated transactions.
Gas value: 1200000.0
Mining tx id: 32

BLOCK NUMBER: 26
Tx to mine:    index  block_mined block_submitted end_sync from_address gas_price  \
0     33          NaN              21       21            2        20

   gas_spend  mined nonce  num_bytes start_sync tx_id    cum_gas
0  1200000.0  False     4       96.0         14    33  1200000.0
Mining 1 out of 7 unvalidated transactions.
Gas value: 1200000.0
Mining tx id: 33
BLOCK NUMBER: 27
Tx to mine:    index  block_mined block_submitted end_sync from_address gas_price  \
0     34          NaN              21       21            4        20

   gas_spend  mined nonce  num_bytes start_sync tx_id    cum_gas
0  1200000.0  False     4       96.0         14    34  1200000.0
Mining 1 out of 6 unvalidated transactions.
Gas value: 1200000.0
Mining tx id: 34
BLOCK NUMBER: 28
Tx to mine:    index  block_mined block_submitted end_sync from_address gas_price  \
0     35          NaN              21       21            9        20

   gas_spend  mined nonce  num_bytes start_sync tx_id    cum_gas
0  1200000.0  False     4       96.0         14    35  1200000.0
Mining 1 out of 5 unvalidated transactions.
Gas value: 1200000.0
Mining tx id: 35
TRansmitting 28 % 7 == 0
TRansmitting 28 % 7 == 0
TRansmitting 28 % 7 == 0
TRansmitting 28 % 7 == 0
TRansmitting 28 % 7 == 0
TRansmitting 28 % 7 == 0
TRansmitting 28 % 7 == 0
TRansmitting 28 % 7 == 0
TRansmitting 28 % 7 == 0
TRansmitting 28 % 7 == 0
BLOCK NUMBER: 29
Tx to mine:    index  block_mined block_submitted end_sync from_address gas_price  \
0     36          NaN              21       21           11        20

   gas_spend  mined nonce  num_bytes start_sync tx_id    cum_gas
0  1200000.0  False     4       96.0         14    36  1200000.0
Mining 1 out of 14 unvalidated transactions.
Gas value: 1200000.0
Mining tx id: 36
BLOCK NUMBER: 30
Tx to mine:    index  block_mined block_submitted end_sync from_address gas_price  \
0     37          NaN              21       21            3        20

   gas_spend  mined nonce  num_bytes start_sync tx_id    cum_gas
0  1200000.0  False     4       96.0         14    37  1200000.0
Mining 1 out of 13 unvalidated transactions.
Gas value: 1200000.0
Mining tx id: 37
BLOCK NUMBER: 31
Tx to mine:    index  block_mined block_submitted end_sync from_address gas_price  \
0     38          NaN              21       21            5        20

   gas_spend  mined nonce  num_bytes start_sync tx_id    cum_gas
0  1200000.0  False     4       96.0         14    38  1200000.0
Mining 1 out of 12 unvalidated transactions.
Gas value: 1200000.0
Mining tx id: 38
BLOCK NUMBER: 32
Tx to mine:    index  block_mined block_submitted end_sync from_address gas_price  \
0     39          NaN              21       21            8        20

   gas_spend  mined nonce  num_bytes start_sync tx_id    cum_gas
0  1200000.0  False     4       96.0         14    39  1200000.0
Mining 1 out of 11 unvalidated transactions.
Gas value: 1200000.0
Mining tx id: 39
BLOCK NUMBER: 33
Tx to mine:    index  block_mined block_submitted end_sync from_address gas_price  \
0     40          NaN              28       28            6        20

   gas_spend  mined nonce  num_bytes start_sync tx_id    cum_gas
0  1200000.0  False     5       96.0         21    40  1200000.0
Mining 1 out of 10 unvalidated transactions.
Gas value: 1200000.0
Mining tx id: 40
BLOCK NUMBER: 34
Tx to mine:    index  block_mined block_submitted end_sync from_address gas_price  \
0     41          NaN              28       28            9        20

   gas_spend  mined nonce  num_bytes start_sync tx_id    cum_gas
0  1200000.0  False     5       96.0         21    41  1200000.0
Mining 1 out of 9 unvalidated transactions.
Gas value: 1200000.0
Mining tx id: 41
BLOCK NUMBER: 35
Tx to mine:    index  block_mined block_submitted end_sync from_address gas_price  \
0     42          NaN              28       28           11        20

   gas_spend  mined nonce  num_bytes start_sync tx_id    cum_gas
0  1200000.0  False     5       96.0         21    42  1200000.0
Mining 1 out of 8 unvalidated transactions.
Gas value: 1200000.0
Mining tx id: 42
TRansmitting 35 % 7 == 0
TRansmitting 35 % 7 == 0
TRansmitting 35 % 7 == 0
TRansmitting 35 % 7 == 0
TRansmitting 35 % 7 == 0
TRansmitting 35 % 7 == 0
TRansmitting 35 % 7 == 0
TRansmitting 35 % 7 == 0
TRansmitting 35 % 7 == 0
TRansmitting 35 % 7 == 0
BLOCK NUMBER: 36
Tx to mine:    index  block_mined block_submitted end_sync from_address gas_price  \
0     51          NaN              35       35            8        20
1     57          NaN              35       35            5        20

   gas_spend  mined nonce  num_bytes start_sync tx_id    cum_gas
0   800000.0  False     6       64.0         28    51   800000.0
1   800000.0  False     6       64.0         28    57  1600000.0
Mining 2 out of 17 unvalidated transactions.
Gas value: 1600000.0
Mining tx id: 51
Mining tx id: 57
BLOCK NUMBER: 37
Tx to mine:    index  block_mined block_submitted end_sync from_address gas_price  \
0     50          NaN              35       35            9        20
1     52          NaN              35       35           11        20

   gas_spend  mined nonce  num_bytes start_sync tx_id    cum_gas
0   800000.0  False     6       64.0         28    50   800000.0
1   800000.0  False     6       64.0         28    52  1600000.0
Mining 2 out of 15 unvalidated transactions.
Gas value: 1600000.0
Mining tx id: 50
Mining tx id: 52
BLOCK NUMBER: 38
Tx to mine:    index  block_mined block_submitted end_sync from_address gas_price  \
0     53          NaN              35       35            3        20
1     54          NaN              35       35            6        20

   gas_spend  mined nonce  num_bytes start_sync tx_id    cum_gas
0   800000.0  False     6       64.0         28    53   800000.0
1   800000.0  False     6       64.0         28    54  1600000.0
Mining 2 out of 13 unvalidated transactions.
Gas value: 1600000.0
Mining tx id: 53
Mining tx id: 54
BLOCK NUMBER: 39
Tx to mine:    index  block_mined block_submitted end_sync from_address gas_price  \
0     55          NaN              35       35            7        20
1     56          NaN              35       35           10        20

   gas_spend  mined nonce  num_bytes start_sync tx_id    cum_gas
0   800000.0  False     6       64.0         28    55   800000.0
1   800000.0  False     6       64.0         28    56  1600000.0
Mining 2 out of 11 unvalidated transactions.
Gas value: 1600000.0
Mining tx id: 55
Mining tx id: 56
BLOCK NUMBER: 40
Tx to mine:    index  block_mined block_submitted end_sync from_address gas_price  \
0     58          NaN              35       35            4        20
1     59          NaN              35       35            2        20

   gas_spend  mined nonce  num_bytes start_sync tx_id    cum_gas
0   800000.0  False     6       64.0         28    58   800000.0
1   800000.0  False     6       64.0         28    59  1600000.0
Mining 2 out of 9 unvalidated transactions.
Gas value: 1600000.0
Mining tx id: 58
Mining tx id: 59
BLOCK NUMBER: 41
Tx to mine:    index  block_mined block_submitted end_sync from_address gas_price  \
0     43          NaN              28       28            2        20

   gas_spend  mined nonce  num_bytes start_sync tx_id    cum_gas
0  1200000.0  False     5       96.0         21    43  1200000.0
Mining 1 out of 7 unvalidated transactions.
Gas value: 1200000.0
Mining tx id: 43
BLOCK NUMBER: 42
Tx to mine:    index  block_mined block_submitted end_sync from_address gas_price  \
0     44          NaN              28       28            3        20

   gas_spend  mined nonce  num_bytes start_sync tx_id    cum_gas
0  1200000.0  False     5       96.0         21    44  1200000.0
Mining 1 out of 6 unvalidated transactions.
Gas value: 1200000.0
Mining tx id: 44
TRansmitting 42 % 7 == 0
TRansmitting 42 % 7 == 0
TRansmitting 42 % 7 == 0
TRansmitting 42 % 7 == 0
TRansmitting 42 % 7 == 0
TRansmitting 42 % 7 == 0
TRansmitting 42 % 7 == 0
TRansmitting 42 % 7 == 0
TRansmitting 42 % 7 == 0
TRansmitting 42 % 7 == 0
BLOCK NUMBER: 43
Tx to mine:    index  block_mined block_submitted end_sync from_address gas_price  \
0     45          NaN              28       28            7        20

   gas_spend  mined nonce  num_bytes start_sync tx_id    cum_gas
0  1200000.0  False     5       96.0         21    45  1200000.0
Mining 1 out of 15 unvalidated transactions.
Gas value: 1200000.0
Mining tx id: 45
BLOCK NUMBER: 44
Tx to mine:    index  block_mined block_submitted end_sync from_address gas_price  \
0     46          NaN              28       28            8        20

   gas_spend  mined nonce  num_bytes start_sync tx_id    cum_gas
0  1200000.0  False     5       96.0         21    46  1200000.0
Mining 1 out of 14 unvalidated transactions.
Gas value: 1200000.0
Mining tx id: 46
BLOCK NUMBER: 45
Tx to mine:    index  block_mined block_submitted end_sync from_address gas_price  \
0     47          NaN              28       28            5        20

   gas_spend  mined nonce  num_bytes start_sync tx_id    cum_gas
0  1200000.0  False     5       96.0         21    47  1200000.0
Mining 1 out of 13 unvalidated transactions.
Gas value: 1200000.0
Mining tx id: 47
BLOCK NUMBER: 46
Tx to mine:    index  block_mined block_submitted end_sync from_address gas_price  \
0     48          NaN              28       28           10        20

   gas_spend  mined nonce  num_bytes start_sync tx_id    cum_gas
0  1200000.0  False     5       96.0         21    48  1200000.0
Mining 1 out of 12 unvalidated transactions.
Gas value: 1200000.0
Mining tx id: 48
BLOCK NUMBER: 47
Tx to mine:    index  block_mined block_submitted end_sync from_address gas_price  \
0     49          NaN              28       28            4        20

   gas_spend  mined nonce  num_bytes start_sync tx_id    cum_gas
0  1200000.0  False     5       96.0         21    49  1200000.0
Mining 1 out of 11 unvalidated transactions.
Gas value: 1200000.0
Mining tx id: 49
BLOCK NUMBER: 48

Tx to mine:    index  block_mined block_submitted end_sync from_address gas_price  \
0     60          NaN              42       42            6        20

   gas_spend  mined nonce  num_bytes start_sync tx_id    cum_gas
0  1200000.0  False     7       96.0         35    60  1200000.0
Mining 1 out of 10 unvalidated transactions.
Gas value: 1200000.0
Mining tx id: 60
BLOCK NUMBER: 49
Tx to mine:    index  block_mined block_submitted end_sync from_address gas_price  \
0     61          NaN              42       42           10        20

   gas_spend  mined nonce  num_bytes start_sync tx_id    cum_gas
0  1200000.0  False     7       96.0         35    61  1200000.0
Mining 1 out of 9 unvalidated transactions.
Gas value: 1200000.0
Mining tx id: 61
TRansmitting 49 % 7 == 0
TRansmitting 49 % 7 == 0
TRansmitting 49 % 7 == 0
TRansmitting 49 % 7 == 0
TRansmitting 49 % 7 == 0
TRansmitting 49 % 7 == 0
TRansmitting 49 % 7 == 0
TRansmitting 49 % 7 == 0
TRansmitting 49 % 7 == 0
TRansmitting 49 % 7 == 0
BLOCK NUMBER: 50
Tx to mine:    index  block_mined block_submitted end_sync from_address gas_price  \
0     62          NaN              42       42            3        20

   gas_spend  mined nonce  num_bytes start_sync tx_id    cum_gas
0  1200000.0  False     7       96.0         35    62  1200000.0
Mining 1 out of 18 unvalidated transactions.
Gas value: 1200000.0
Mining tx id: 62
BLOCK NUMBER: 51
Tx to mine:    index  block_mined block_submitted end_sync from_address gas_price  \
0     63          NaN              42       42            2        20

   gas_spend  mined nonce  num_bytes start_sync tx_id    cum_gas
0  1200000.0  False     7       96.0         35    63  1200000.0
Mining 1 out of 17 unvalidated transactions.
Gas value: 1200000.0
Mining tx id: 63
BLOCK NUMBER: 52
Tx to mine:    index  block_mined block_submitted end_sync from_address gas_price  \
0     64          NaN              42       42            4        20

   gas_spend  mined nonce  num_bytes start_sync tx_id    cum_gas
0  1200000.0  False     7       96.0         35    64  1200000.0
Mining 1 out of 16 unvalidated transactions.
Gas value: 1200000.0
Mining tx id: 64
BLOCK NUMBER: 53
Tx to mine:    index  block_mined block_submitted end_sync from_address gas_price  \
0     65          NaN              42       42            7        20

   gas_spend  mined nonce  num_bytes start_sync tx_id    cum_gas
0  1200000.0  False     7       96.0         35    65  1200000.0
Mining 1 out of 15 unvalidated transactions.
Gas value: 1200000.0
Mining tx id: 65
BLOCK NUMBER: 54
Tx to mine:    index  block_mined block_submitted end_sync from_address gas_price  \
0     66          NaN              42       42           11        20

   gas_spend  mined nonce  num_bytes start_sync tx_id    cum_gas
0  1200000.0  False     7       96.0         35    66  1200000.0
Mining 1 out of 14 unvalidated transactions.
Gas value: 1200000.0
Mining tx id: 66
BLOCK NUMBER: 55
Tx to mine:    index  block_mined block_submitted end_sync from_address gas_price  \
0     67          NaN              42       42            9        20

   gas_spend  mined nonce  num_bytes start_sync tx_id    cum_gas
0  1200000.0  False     7       96.0         35    67  1200000.0
Mining 1 out of 13 unvalidated transactions.
Gas value: 1200000.0
Mining tx id: 67
BLOCK NUMBER: 56
Tx to mine:    index  block_mined block_submitted end_sync from_address gas_price  \
0     68          NaN              42       42            5        20

   gas_spend  mined nonce  num_bytes start_sync tx_id    cum_gas
0  1200000.0  False     7       96.0         35    68  1200000.0
Mining 1 out of 12 unvalidated transactions.
Gas value: 1200000.0
Mining tx id: 68
TRansmitting 56 % 7 == 0
TRansmitting 56 % 7 == 0
TRansmitting 56 % 7 == 0
TRansmitting 56 % 7 == 0
TRansmitting 56 % 7 == 0
TRansmitting 56 % 7 == 0
TRansmitting 56 % 7 == 0
TRansmitting 56 % 7 == 0
TRansmitting 56 % 7 == 0
TRansmitting 56 % 7 == 0
BLOCK NUMBER: 57
Tx to mine:    index  block_mined block_submitted end_sync from_address gas_price  \
0     89          NaN              56       56            5        20
1     87          NaN              56       56            6        20

   gas_spend  mined nonce  num_bytes start_sync tx_id    cum_gas
0   800000.0  False     9       64.0         49    89   800000.0
1   800000.0  False     9       64.0         49    87  1600000.0
Mining 2 out of 21 unvalidated transactions.
Gas value: 1600000.0
Mining tx id: 89
Mining tx id: 87
BLOCK NUMBER: 58
Tx to mine:    index  block_mined block_submitted end_sync from_address gas_price  \
0     88          NaN              56       56           10        20
1     85          NaN              56       56            8        20

   gas_spend  mined nonce  num_bytes start_sync tx_id    cum_gas
0   800000.0  False     9       64.0         49    88   800000.0
1   800000.0  False     9       64.0         49    85  1600000.0
Mining 2 out of 19 unvalidated transactions.
Gas value: 1600000.0
Mining tx id: 88
Mining tx id: 85
BLOCK NUMBER: 59
Tx to mine:    index  block_mined block_submitted end_sync from_address gas_price  \
0     86          NaN              56       56            9        20
1     83          NaN              56       56            4        20

   gas_spend  mined nonce  num_bytes start_sync tx_id    cum_gas
0   800000.0  False     9       64.0         49    86   800000.0
1   800000.0  False     9       64.0         49    83  1600000.0
Mining 2 out of 17 unvalidated transactions.
Gas value: 1600000.0
Mining tx id: 86
Mining tx id: 83
BLOCK NUMBER: 60
Tx to mine:    index  block_mined block_submitted end_sync from_address gas_price  \
0     80          NaN              56       56           11        20
1     81          NaN              56       56            3        20

   gas_spend  mined nonce  num_bytes start_sync tx_id    cum_gas
0   800000.0  False     9       64.0         49    80   800000.0
1   800000.0  False     9       64.0         49    81  1600000.0
Mining 2 out of 15 unvalidated transactions.
Gas value: 1600000.0
Mining tx id: 80
Mining tx id: 81
BLOCK NUMBER: 61
Tx to mine:    index  block_mined block_submitted end_sync from_address gas_price  \
0     82          NaN              56       56            7        20
1     84          NaN              56       56            2        20

   gas_spend  mined nonce  num_bytes start_sync tx_id    cum_gas
0   800000.0  False     9       64.0         49    82   800000.0
1   800000.0  False     9       64.0         49    84  1600000.0
Mining 2 out of 13 unvalidated transactions.
Gas value: 1600000.0
Mining tx id: 82
Mining tx id: 84
BLOCK NUMBER: 62
Tx to mine:    index  block_mined block_submitted end_sync from_address gas_price  \
0     69          NaN              42       42            8        20

   gas_spend  mined nonce  num_bytes start_sync tx_id    cum_gas
0  1200000.0  False     7       96.0         35    69  1200000.0
Mining 1 out of 11 unvalidated transactions.
Gas value: 1200000.0
Mining tx id: 69
BLOCK NUMBER: 63
Tx to mine:    index  block_mined block_submitted end_sync from_address gas_price  \
0     70          NaN              49       49            5        20

   gas_spend  mined nonce  num_bytes start_sync tx_id    cum_gas
0  1200000.0  False     8       96.0         42    70  1200000.0
Mining 1 out of 10 unvalidated transactions.
Gas value: 1200000.0
Mining tx id: 70
TRansmitting 63 % 7 == 0
TRansmitting 63 % 7 == 0
TRansmitting 63 % 7 == 0
TRansmitting 63 % 7 == 0
TRansmitting 63 % 7 == 0
TRansmitting 63 % 7 == 0
TRansmitting 63 % 7 == 0
TRansmitting 63 % 7 == 0
TRansmitting 63 % 7 == 0
TRansmitting 63 % 7 == 0
BLOCK NUMBER: 64
Tx to mine:    index  block_mined block_submitted end_sync from_address gas_price  \
0     71          NaN              49       49            4        20

   gas_spend  mined nonce  num_bytes start_sync tx_id    cum_gas
0  1200000.0  False     8       96.0         42    71  1200000.0
Mining 1 out of 19 unvalidated transactions.
Gas value: 1200000.0
Mining tx id: 71
BLOCK NUMBER: 65
Tx to mine:    index  block_mined block_submitted end_sync from_address gas_price  \
0     72          NaN              49       49           10        20

   gas_spend  mined nonce  num_bytes start_sync tx_id    cum_gas
0  1200000.0  False     8       96.0         42    72  1200000.0
Mining 1 out of 18 unvalidated transactions.
Gas value: 1200000.0
Mining tx id: 72
BLOCK NUMBER: 66
Tx to mine:    index  block_mined block_submitted end_sync from_address gas_price  \
0     73          NaN              49       49            7        20

   gas_spend  mined nonce  num_bytes start_sync tx_id    cum_gas
0  1200000.0  False     8       96.0         42    73  1200000.0
Mining 1 out of 17 unvalidated transactions.
Gas value: 1200000.0
Mining tx id: 73
BLOCK NUMBER: 67
Tx to mine:    index  block_mined block_submitted end_sync from_address gas_price  \
0     74          NaN              49       49            8        20

   gas_spend  mined nonce  num_bytes start_sync tx_id    cum_gas
0  1200000.0  False     8       96.0         42    74  1200000.0
Mining 1 out of 16 unvalidated transactions.
Gas value: 1200000.0
Mining tx id: 74
BLOCK NUMBER: 68
Tx to mine:    index  block_mined block_submitted end_sync from_address gas_price  \
0     75          NaN              49       49            6        20

   gas_spend  mined nonce  num_bytes start_sync tx_id    cum_gas
0  1200000.0  False     8       96.0         42    75  1200000.0
Mining 1 out of 15 unvalidated transactions.
Gas value: 1200000.0
Mining tx id: 75
BLOCK NUMBER: 69
Tx to mine:    index  block_mined block_submitted end_sync from_address gas_price  \
0     76          NaN              49       49            9        20

   gas_spend  mined nonce  num_bytes start_sync tx_id    cum_gas
0  1200000.0  False     8       96.0         42    76  1200000.0
Mining 1 out of 14 unvalidated transactions.
Gas value: 1200000.0
Mining tx id: 76
BLOCK NUMBER: 70
Tx to mine:    index  block_mined block_submitted end_sync from_address gas_price  \
0     77          NaN              49       49            3        20

   gas_spend  mined nonce  num_bytes start_sync tx_id    cum_gas
0  1200000.0  False     8       96.0         42    77  1200000.0
Mining 1 out of 13 unvalidated transactions.
Gas value: 1200000.0
Mining tx id: 77
TRansmitting 70 % 7 == 0
TRansmitting 70 % 7 == 0
TRansmitting 70 % 7 == 0
TRansmitting 70 % 7 == 0
TRansmitting 70 % 7 == 0
TRansmitting 70 % 7 == 0
TRansmitting 70 % 7 == 0
TRansmitting 70 % 7 == 0
TRansmitting 70 % 7 == 0
TRansmitting 70 % 7 == 0
BLOCK NUMBER: 71
Tx to mine:    index  block_mined block_submitted end_sync from_address gas_price  \
0     78          NaN              49       49            2        20

   gas_spend  mined nonce  num_bytes start_sync tx_id    cum_gas
0  1200000.0  False     8       96.0         42    78  1200000.0
Mining 1 out of 22 unvalidated transactions.
Gas value: 1200000.0
Mining tx id: 78
BLOCK NUMBER: 72

Tx to mine:    index  block_mined block_submitted end_sync from_address gas_price  \
0     79          NaN              49       49           11        20

   gas_spend  mined nonce  num_bytes start_sync tx_id    cum_gas
0  1200000.0  False     8       96.0         42    79  1200000.0
Mining 1 out of 21 unvalidated transactions.
Gas value: 1200000.0
Mining tx id: 79
BLOCK NUMBER: 73
Tx to mine:    index  block_mined block_submitted end_sync from_address gas_price  \
0     90          NaN              63       63            8        20

   gas_spend  mined nonce  num_bytes start_sync tx_id    cum_gas
0  1200000.0  False    10       96.0         56    90  1200000.0
Mining 1 out of 20 unvalidated transactions.
Gas value: 1200000.0
Mining tx id: 90
BLOCK NUMBER: 74
Tx to mine:    index  block_mined block_submitted end_sync from_address gas_price  \
0     91          NaN              63       63           10        20

   gas_spend  mined nonce  num_bytes start_sync tx_id    cum_gas
0  1200000.0  False    10       96.0         56    91  1200000.0
Mining 1 out of 19 unvalidated transactions.
Gas value: 1200000.0
Mining tx id: 91
BLOCK NUMBER: 75
Tx to mine:    index  block_mined block_submitted end_sync from_address gas_price  \
0     92          NaN              63       63            5        20

   gas_spend  mined nonce  num_bytes start_sync tx_id    cum_gas
0  1200000.0  False    10       96.0         56    92  1200000.0
Mining 1 out of 18 unvalidated transactions.
Gas value: 1200000.0
Mining tx id: 92
BLOCK NUMBER: 76
Tx to mine:    index  block_mined block_submitted end_sync from_address gas_price  \
0     93          NaN              63       63            2        20

   gas_spend  mined nonce  num_bytes start_sync tx_id    cum_gas
0  1200000.0  False    10       96.0         56    93  1200000.0
Mining 1 out of 17 unvalidated transactions.
Gas value: 1200000.0
Mining tx id: 93
BLOCK NUMBER: 77
Tx to mine:    index  block_mined block_submitted end_sync from_address gas_price  \
0     94          NaN              63       63            3        20

   gas_spend  mined nonce  num_bytes start_sync tx_id    cum_gas
0  1200000.0  False    10       96.0         56    94  1200000.0
Mining 1 out of 16 unvalidated transactions.
Gas value: 1200000.0
Mining tx id: 94
TRansmitting 77 % 7 == 0
TRansmitting 77 % 7 == 0
TRansmitting 77 % 7 == 0
TRansmitting 77 % 7 == 0
TRansmitting 77 % 7 == 0
TRansmitting 77 % 7 == 0
TRansmitting 77 % 7 == 0
TRansmitting 77 % 7 == 0
TRansmitting 77 % 7 == 0
TRansmitting 77 % 7 == 0
BLOCK NUMBER: 78
Tx to mine:    index  block_mined block_submitted end_sync from_address gas_price  \
0    119          NaN              77       77           10        20
1    117          NaN              77       77            8        20

   gas_spend  mined nonce  num_bytes start_sync tx_id    cum_gas
0   800000.0  False    12       64.0         70   119   800000.0
1   800000.0  False    12       64.0         70   117  1600000.0
Mining 2 out of 25 unvalidated transactions.
Gas value: 1600000.0
Mining tx id: 119
Mining tx id: 117
BLOCK NUMBER: 79
Tx to mine:    index  block_mined block_submitted end_sync from_address gas_price  \
0    118          NaN              77       77            9        20
1    115          NaN              77       77            4        20

   gas_spend  mined nonce  num_bytes start_sync tx_id    cum_gas
0   800000.0  False    12       64.0         70   118   800000.0
1   800000.0  False    12       64.0         70   115  1600000.0
Mining 2 out of 23 unvalidated transactions.
Gas value: 1600000.0
Mining tx id: 118
Mining tx id: 115
BLOCK NUMBER: 80
Tx to mine:    index  block_mined block_submitted end_sync from_address gas_price  \
0    116          NaN              77       77            2        20
1    113          NaN              77       77           11        20

   gas_spend  mined nonce  num_bytes start_sync tx_id    cum_gas
0   800000.0  False    12       64.0         70   116   800000.0
1   800000.0  False    12       64.0         70   113  1600000.0
Mining 2 out of 21 unvalidated transactions.
Gas value: 1600000.0
Mining tx id: 116
Mining tx id: 113
BLOCK NUMBER: 81
Tx to mine:    index  block_mined block_submitted end_sync from_address gas_price  \
0    114          NaN              77       77            5        20
1    111          NaN              77       77            3        20

   gas_spend  mined nonce  num_bytes start_sync tx_id    cum_gas
0   800000.0  False    12       64.0         70   114   800000.0
1   800000.0  False    12       64.0         70   111  1600000.0
Mining 2 out of 19 unvalidated transactions.
Gas value: 1600000.0
Mining tx id: 114
Mining tx id: 111
BLOCK NUMBER: 82
Tx to mine:    index  block_mined block_submitted end_sync from_address gas_price  \
0    112          NaN              77       77            7        20
1    110          NaN              77       77            6        20

   gas_spend  mined nonce  num_bytes start_sync tx_id    cum_gas
0   800000.0  False    12       64.0         70   112   800000.0
1   800000.0  False    12       64.0         70   110  1600000.0
Mining 2 out of 17 unvalidated transactions.
Gas value: 1600000.0
Mining tx id: 112
Mining tx id: 110
BLOCK NUMBER: 83
Tx to mine:    index  block_mined block_submitted end_sync from_address gas_price  \
0     95          NaN              63       63            6        20

   gas_spend  mined nonce  num_bytes start_sync tx_id    cum_gas
0  1200000.0  False    10       96.0         56    95  1200000.0
Mining 1 out of 15 unvalidated transactions.
Gas value: 1200000.0
Mining tx id: 95
BLOCK NUMBER: 84
Tx to mine:    index  block_mined block_submitted end_sync from_address gas_price  \
0     96          NaN              63       63           11        20

   gas_spend  mined nonce  num_bytes start_sync tx_id    cum_gas
0  1200000.0  False    10       96.0         56    96  1200000.0
Mining 1 out of 14 unvalidated transactions.
Gas value: 1200000.0
Mining tx id: 96
TRansmitting 84 % 7 == 0
TRansmitting 84 % 7 == 0
TRansmitting 84 % 7 == 0
TRansmitting 84 % 7 == 0
TRansmitting 84 % 7 == 0
TRansmitting 84 % 7 == 0
TRansmitting 84 % 7 == 0
TRansmitting 84 % 7 == 0
TRansmitting 84 % 7 == 0
TRansmitting 84 % 7 == 0
BLOCK NUMBER: 85
Tx to mine:    index  block_mined block_submitted end_sync from_address gas_price  \
0     97          NaN              63       63            4        20

   gas_spend  mined nonce  num_bytes start_sync tx_id    cum_gas
0  1200000.0  False    10       96.0         56    97  1200000.0
Mining 1 out of 23 unvalidated transactions.
Gas value: 1200000.0
Mining tx id: 97
BLOCK NUMBER: 86
Tx to mine:    index  block_mined block_submitted end_sync from_address gas_price  \
0     98          NaN              63       63            7        20

   gas_spend  mined nonce  num_bytes start_sync tx_id    cum_gas
0  1200000.0  False    10       96.0         56    98  1200000.0
Mining 1 out of 22 unvalidated transactions.
Gas value: 1200000.0
Mining tx id: 98
BLOCK NUMBER: 87
Tx to mine:    index  block_mined block_submitted end_sync from_address gas_price  \
0     99          NaN              63       63            9        20

   gas_spend  mined nonce  num_bytes start_sync tx_id    cum_gas
0  1200000.0  False    10       96.0         56    99  1200000.0
Mining 1 out of 21 unvalidated transactions.
Gas value: 1200000.0
Mining tx id: 99
BLOCK NUMBER: 88
Tx to mine:    index  block_mined block_submitted end_sync from_address gas_price  \
0    100          NaN              70       70            6        20

   gas_spend  mined nonce  num_bytes start_sync tx_id    cum_gas
0  1200000.0  False    11       96.0         63   100  1200000.0
Mining 1 out of 20 unvalidated transactions.
Gas value: 1200000.0
Mining tx id: 100
BLOCK NUMBER: 89
Tx to mine:    index  block_mined block_submitted end_sync from_address gas_price  \
0    101          NaN              70       70           11        20

   gas_spend  mined nonce  num_bytes start_sync tx_id    cum_gas
0  1200000.0  False    11       96.0         63   101  1200000.0
Mining 1 out of 19 unvalidated transactions.
Gas value: 1200000.0
Mining tx id: 101
BLOCK NUMBER: 90
Tx to mine:    index  block_mined block_submitted end_sync from_address gas_price  \
0    102          NaN              70       70           10        20

   gas_spend  mined nonce  num_bytes start_sync tx_id    cum_gas
0  1200000.0  False    11       96.0         63   102  1200000.0
Mining 1 out of 18 unvalidated transactions.
Gas value: 1200000.0
Mining tx id: 102
BLOCK NUMBER: 91
Tx to mine:    index  block_mined block_submitted end_sync from_address gas_price  \
0    103          NaN              70       70            4        20

   gas_spend  mined nonce  num_bytes start_sync tx_id    cum_gas
0  1200000.0  False    11       96.0         63   103  1200000.0
Mining 1 out of 17 unvalidated transactions.
Gas value: 1200000.0
Mining tx id: 103
BLOCK NUMBER: 92
Tx to mine:    index  block_mined block_submitted end_sync from_address gas_price  \
0    104          NaN              70       70            5        20

   gas_spend  mined nonce  num_bytes start_sync tx_id    cum_gas
0  1200000.0  False    11       96.0         63   104  1200000.0
Mining 1 out of 16 unvalidated transactions.
Gas value: 1200000.0
Mining tx id: 104
BLOCK NUMBER: 93
Tx to mine:    index  block_mined block_submitted end_sync from_address gas_price  \
0    105          NaN              70       70            8        20

   gas_spend  mined nonce  num_bytes start_sync tx_id    cum_gas
0  1200000.0  False    11       96.0         63   105  1200000.0
Mining 1 out of 15 unvalidated transactions.
Gas value: 1200000.0
Mining tx id: 105
BLOCK NUMBER: 94
Tx to mine:    index  block_mined block_submitted end_sync from_address gas_price  \
0    106          NaN              70       70            7        20

   gas_spend  mined nonce  num_bytes start_sync tx_id    cum_gas
0  1200000.0  False    11       96.0         63   106  1200000.0
Mining 1 out of 14 unvalidated transactions.
Gas value: 1200000.0
Mining tx id: 106
BLOCK NUMBER: 95
Tx to mine:    index  block_mined block_submitted end_sync from_address gas_price  \
0    107          NaN              70       70            2        20

   gas_spend  mined nonce  num_bytes start_sync tx_id    cum_gas
0  1200000.0  False    11       96.0         63   107  1200000.0
Mining 1 out of 13 unvalidated transactions.
Gas value: 1200000.0
Mining tx id: 107
BLOCK NUMBER: 96
Tx to mine:    index  block_mined block_submitted end_sync from_address gas_price  \
0    108          NaN              70       70            3        20

   gas_spend  mined nonce  num_bytes start_sync tx_id    cum_gas
0  1200000.0  False    11       96.0         63   108  1200000.0
Mining 1 out of 12 unvalidated transactions.
Gas value: 1200000.0
Mining tx id: 108
BLOCK NUMBER: 97
Tx to mine:    index  block_mined block_submitted end_sync from_address gas_price  \
0    109          NaN              70       70            9        20

   gas_spend  mined nonce  num_bytes start_sync tx_id    cum_gas
0  1200000.0  False    11       96.0         63   109  1200000.0
Mining 1 out of 11 unvalidated transactions.
Gas value: 1200000.0
Mining tx id: 109
BLOCK NUMBER: 98
Tx to mine:    index  block_mined block_submitted end_sync from_address gas_price  \
0    120          NaN              84       84            3        20

   gas_spend  mined nonce  num_bytes start_sync tx_id    cum_gas
0  1200000.0  False    13       96.0         77   120  1200000.0
Mining 1 out of 10 unvalidated transactions.
Gas value: 1200000.0
Mining tx id: 120
BLOCK NUMBER: 99
Tx to mine:    index  block_mined block_submitted end_sync from_address gas_price  \
0    121          NaN              84       84            4        20

   gas_spend  mined nonce  num_bytes start_sync tx_id    cum_gas
0  1200000.0  False    13       96.0         77   121  1200000.0
Mining 1 out of 9 unvalidated transactions.
Gas value: 1200000.0
Mining tx id: 121
BLOCK NUMBER: 100

Tx to mine:    index  block_mined block_submitted end_sync from_address gas_price  \
0    122          NaN              84       84           10        20

   gas_spend  mined nonce  num_bytes start_sync tx_id    cum_gas
0  1200000.0  False    13       96.0         77   122  1200000.0
Mining 1 out of 8 unvalidated transactions.
Gas value: 1200000.0
Mining tx id: 122

In [403]:
model.blockchain.mempool

,block_mined,block_submitted,end_sync,from_address,gas_price,gas_spend,mined,nonce,num_bytes,start_sync,tx_id
0,2.0,0,0,4,20,400000.0,True,1,32.0,0,0
1,2.0,0,0,8,20,400000.0,True,1,32.0,0,1
2,2.0,0,0,9,20,400000.0,True,1,32.0,0,2
3,2.0,0,0,10,20,400000.0,True,1,32.0,0,3
4,2.0,0,0,6,20,400000.0,True,1,32.0,0,4
5,3.0,0,0,7,20,400000.0,True,1,32.0,0,5
6,3.0,0,0,3,20,400000.0,True,1,32.0,0,6
7,3.0,0,0,5,20,400000.0,True,1,32.0,0,7
8,3.0,0,0,11,20,400000.0,True,1,32.0,0,8
9,3.0,0,0,2,20,400000.0,True,1,32.0,0,9
10,8.0,7,7,3,20,1200000.0,True,2,96.0,0,10
11,9.0,7,7,7,20,1200000.0,True,2,96.0,0,11
12,10.0,7,7,2,20,1200000.0,True,2,96.0,0,12
13,11.0,7,7,4,20,1200000.0,True,2,96.0,0,13
14,12.0,7,7,5,20,1200000.0,True,2,96.0,0,14
15,13.0,7,7,11,20,1200000.0,True,2,96.0,0,15
16,14.0,7,7,10,20,1200000.0,True,2,96.0,0,16
17,20.0,7,7,8,20,1200000.0,True,2,96.0,0,17
18,21.0,7,7,9,20,1200000.0,True,2,96.0,0,18
19,22.0,7,7,6,20,1200000.0,True,2,96.0,0,19
20,15.0,14,14,11,20,800000.0,True,3,64.0,7,20
21,15.0,14,14,5,20,800000.0,True,3,64.0,7,21
22,16.0,14,14,10,20,800000.0,True,3,64.0,7,22
23,16.0,14,14,4,20,800000.0,True,3,64.0,7,23
24,17.0,14,14,3,20,800000.0,True,3,64.0,7,24
25,17.0,14,14,7,20,800000.0,True,3,64.0,7,25
26,18.0,14,14,9,20,800000.0,True,3,64.0,7,26
27,18.0,14,14,2,20,800000.0,True,3,64.0,7,27
28,19.0,14,14,8,20,800000.0,True,3,64.0,7,28
29,19.0,14,14,6,20,800000.0,True,3,64.0,7,29
...,...,...,...,...,...,...,...,...,...,...,...
100,88.0,70,70,6,20,1200000.0,True,11,96.0,63,100
101,89.0,70,70,11,20,1200000.0,True,11,96.0,63,101
102,90.0,70,70,10,20,1200000.0,True,11,96.0,63,102
103,91.0,70,70,4,20,1200000.0,True,11,96.0,63,103
104,92.0,70,70,5,20,1200000.0,True,11,96.0,63,104
105,93.0,70,70,8,20,1200000.0,True,11,96.0,63,105
106,94.0,70,70,7,20,1200000.0,True,11,96.0,63,106
107,95.0,70,70,2,20,1200000.0,True,11,96.0,63,107
108,96.0,70,70,3,20,1200000.0,True,11,96.0,63,108
109,97.0,70,70,9,20,1200000.0,True,11,96.0,63,109
110,82.0,77,77,6,20,800000.0,True,12,64.0,70,110
111,81.0,77,77,3,20,800000.0,True,12,64.0,70,111
112,82.0,77,77,7,20,800000.0,True,12,64.0,70,112
113,80.0,77,77,11,20,800000.0,True,12,64.0,70,113
114,81.0,77,77,5,20,800000.0,True,12,64.0,70,114
115,79.0,77,77,4,20,800000.0,True,12,64.0,70,115
116,80.0,77,77,2,20,800000.0,True,12,64.0,70,116
117,78.0,77,77,8,20,800000.0,True,12,64.0,70,117
118,79.0,77,77,9,20,800000.0,True,12,64.0,70,118
119,78.0,77,77,10,20,800000.0,True,12,64.0,70,119
120,98.0,84,84,3,20,1200000.0,True,13,96.0,77,120
121,99.0,84,84,4,20,1200000.0,True,13,96.0,77,121
122,100.0,84,84,10,20,1200000.0,True,13,96.0,77,122
123,NaN,84,84,8,20,1200000.0,False,13,96.0,77,123
124,NaN,84,84,2,20,1200000.0,False,13,96.0,77,124
125,NaN,84,84,6,20,1200000.0,False,13,96.0,77,125
126,NaN,84,84,7,20,1200000.0,False,13,96.0,77,126
127,NaN,84,84,11,20,1200000.0,False,13,96.0,77,127
128,NaN,84,84,5,20,1200000.0,False,13,96.0,77,128
129,NaN,84,84,9,20,1200000.0,False,13,96.0,77,129

In [368]:
model.blockchain.mempool[model.blockchain.mempool['from_address'] == 2]

,block_mined,block_submitted,end_sync,from_address,gas_price,gas_spend,mined,nonce,num_bytes,start_sync,tx_id
1,2.0,0,0,2,20,400000.0,True,1,32.0,0,1
12,10.0,7,7,2,20,1200000.0,True,2,96.0,0,12

In [384]:
model.blockchain.chain

       2      3      4      5      6      7      8      9      10     11
0    True   True   True   True   True   True   True   True   True   True
1    True   True   True   True   True   True   True   True   True   True
2    True   True   True   True   True   True   True   True   True   True
3    True   True   True   True   True   True   True   True   True   True
4    True   True   True   True   True   True   True   True   True   True
5    True   True   True   True   True   True   True   True   True   True
6    True   True   True   True   True   True   True   True   True   True
7    True   True   True   True   True   True   True   True   True   True
8    True   True   True   True   True   True   True   True   True   True
9    True   True   True   True   True   True   True   True   True   True
10   True   True   True   True   True   True   True   True   True   True
11   True   True   True   True   True   True   True   True   True   True
12   True   True   True   True   True   True   True   True   True   True
13   True   True   True   True   True   True   True   True   True   True
14   True   True   True   True   True   True   True   True   True   True
15  False  False  False   True  False  False  False  False  False  False
16  False  False  False   True  False  False  False  False  False  False
17  False  False  False   True  False  False  False  False  False  False
18  False  False  False   True  False  False  False  False  False  False
19  False  False  False   True  False  False  False  False  False  False
20  False  False  False   True  False  False  False  False  False  False
21  False  False  False   True  False  False  False  False  False  False
22  False  False  False  False  False  False  False  False  False  False
23  False  False  False  False  False  False  False  False  False  False

In [396]:
a_df = model.datacollector.get_agent_vars_dataframe()
m_df = model.datacollector.get_model_vars_dataframe()

In [398]:
m_df

    active_sensors
0               10
1               10
2               10
3               10
4               10
5               10
6               10
7               10
8               10
9               10
10              10
11              10
12              10
13              10
14              10
15              10
16              10
17              10
18              10
19              10
20              10
21              10
22              10
23              10
24              10
25              10
26              10
27              10
28              10
29              10
..             ...
70              10
71              10
72              10
73              10
74              10
75              10
76              10
77              10
78              10
79              10
80              10
81              10
82              10
83              10
84              10
85              10
86              10
87              10
88              10
89              10
90              10
91              10
92              10
93              10
94              10
95              10
96              10
97              10
98              10
99              10

[100 rows x 1 columns]

In [400]:
a_df.tail(100)

              gwei_spent  battery_life  data_collected
Step AgentID
91   2        10800000.0         -86.3               0
     3        12000000.0         -86.3               0
     4        12000000.0         -86.3               0
     5        10800000.0         -86.3               0
     6        10800000.0         -86.3               0
     7        10800000.0         -86.3               0
     8        10800000.0         -86.3               0
     9        12000000.0         -86.3               0
     10       12000000.0         -86.3               0
     11       10800000.0         -86.3               0
92   2        10800000.0         -86.3               0
     3        12000000.0         -86.3               0
     4        12000000.0         -86.3               0
     5        10800000.0         -86.3               0
     6        10800000.0         -86.3               0
     7        10800000.0         -86.3               0
     8        12000000.0         -86.3               0
     9        12000000.0         -86.3               0
     10       12000000.0         -86.3               0
     11       10800000.0         -86.3               0
93   2        10800000.0         -86.3               0
     3        12000000.0         -86.3               0
     4        12000000.0         -86.3               0
     5        10800000.0         -86.3               0
     6        12000000.0         -86.3               0
     7        10800000.0         -86.3               0
     8        12000000.0         -86.3               0
     9        12000000.0         -86.3               0
     10       12000000.0         -86.3               0
     11       10800000.0         -86.3               0
...                  ...           ...             ...
98   2        13200000.0         -86.3               0
     3        12000000.0         -86.3               0
     4        12000000.0         -86.3               0
     5        12000000.0         -86.3               0
     6        12000000.0         -86.3               0
     7        12000000.0         -86.3               0
     8        12000000.0         -86.3               0
     9        12000000.0         -86.3               0
     10       12000000.0         -86.3               0
     11       12000000.0         -86.3               0
99   2        13200000.0         -86.3               0
     3        12000000.0         -86.3               0
     4        12000000.0         -86.3               0
     5        12000000.0         -86.3               0
     6        12000000.0         -86.3               0
     7        13200000.0         -86.3               0
     8        12000000.0         -86.3               0
     9        12000000.0         -86.3               0
     10       12000000.0         -86.3               0
     11       12000000.0         -86.3               0
100  2        13200000.0         -86.3               0
     3        12000000.0         -86.3               0
     4        13200000.0         -86.3               0
     5        12000000.0         -86.3               0
     6        12000000.0         -86.3               0
     7        13200000.0         -86.3               0
     8        12000000.0         -86.3               0
     9        12000000.0         -86.3               0
     10       12000000.0         -86.3               0
     11       12000000.0         -86.3               0

[100 rows x 3 columns]

In [ ]:
# Batch Run

batch_runner = BatchRunner(
    SensorBlockchainNetwork,
    variable_params,
    fixed_params,
    iterations = 5,
    max_steps = 100,
    model_reporters = {"blockchain_size": lambda m: m.blockchain.chain_size}
)